
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="1">
  <img src="//pimg.us.marykaycdn.com/HeroList/10003/J2003101-UNL-GB-088-MARYKAY-INSTANT-PUFFINESS-REDUCER.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Clinical Solutions Ferulic + Niacinamide Brightener"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-instant-puffiness-reducer-990290184" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$35"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="2">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/mary-kay-lash-love-fanorama-mascara.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Clinical Solutions PHA + AHA Resurfacer"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/lash-love-fanorama-mascara-i--black-990273318" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$16"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="3">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/472709-UNL-GB-023-MiracleSet-5-18-Cleanser.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Supreme Hydrating Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/timewise-age-minimize-3d-4in1-cleanser-normaldry-990279707" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$26"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="4">
  <img src="//pimg.us.marykaycdn.com/HeroList/10003/mary-kay-tw-replenishing-serum-c-e.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Supreme Hydrating Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/timewise-replenishing-serum-c-e-990279409" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$60"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="5">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/739009-UNL-GB-247-TWR-LiftingSerum.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Cream Bronzer Duo Stick"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/timewise-repair-volufirm-advanced-lifting-serum-99015683" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$74"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="6">
  <img src="//pimg.us.marykaycdn.com/HeroList/10001/mary-kay-satin-hands-shea-hand-soap.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Cream Bronzer Duo Stick"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/satin-hands-shea-hand-soap-990278921" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$10"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="7">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/mary-kay-oil-free-eye-makeup-remover.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Cream Highlighter Duo Stick "</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-oilfree-eye-makeup-remover-180101" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="8">
  <img src="//pimg.us.marykaycdn.com/HeroList/10002/mary-kay-foundation-primer-sunscreen-broad-spectrum-spf-15.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Hand Cream Mango & Orange Flower"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-foundation-primer-sunscreen-broad-spectrum-spf-15-110601" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="9">
  <img src="//pimg.us.marykaycdn.com/HeroList/10002/mary-kay-cc-cream-sunscreen-broad-spectrum-light-to-medium.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Hand Cream Mandarin & Rose"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-cc-cream-sunscreen-broad-spectrum-spf-15-lighttomedium-111651" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$22"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="10">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/MKEyeLiner_Black.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Hand Cream Wild Berry & Passionflower"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-eyeliner-mk-black-130520" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$12"</a>
  </div>
</div>
</div>