
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="1">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2003101-UNL-GB-041-CLINICAL-SOLUTIONS-BOOSTER-SOLDIER-BRIGHTENER.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Clinical Solutions Ferulic + Niacinamide Brightener"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-clinical-solutions-ferulic-niacinamide-brightener-990284880" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$38"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="2">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2003101-UNL-GB-041-CLINICAL-SOLUTIONS-BOOSTER-SOLDIER-RESURFACER.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Clinical Solutions PHA + AHA Resurfacer"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-clinical-solutions-pha-aha-resurfacer-990284881" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$38"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="3">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2006702-UNL-GB-110-Supreme-Hydrating-Lipstick-Soldier-Think-Of-Pink.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Supreme Hydrating Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-supreme-hydrating-lipstick-think-of-pink-990308809" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="4">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2006702-UNL-GB-111-Supreme-Hydrating-Lipstick-Soldier-Very-Raspberry.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Supreme Hydrating Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-supreme-hydrating-lipstick-very-raspberry-990308810" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="5">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/PIM-Hero-J2006702-UNL-GB-126-Mary-Kay-Cream-Bronzer-Duo-Stick-Soldier-Bronze-Shimmer.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Cream Bronzer Duo Stick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-limited-edition-cream-bronzer-duo-stick-bronze-and-shimmer-990308812" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="6">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/PIM-Hero-J2006702-UNL-GB-122-Mary-Kay-Cream-Bronzer-Duo-Stick-Soldier-Honey-Luster.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Cream Bronzer Duo Stick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-limited-edition-cream-bronzer-duo-stick-honey-and-luster-990308811" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="7">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/PIM-Hero-J2006702-UNL-GB-128-Mary-Kay-Cream-Highlighter-Duo-Stick-Soldier-Pearl-Gold.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Cream Highlighter Duo Stick "</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-limited-edition-cream-highlighter-duo-stick-pearl-and-gold-990308813" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="8">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2006702-UNL-GB-158-Mary-Kay-Hand-Cream-Soldier-Mango-Orange-Flower.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Hand Cream Mango & Orange Flower"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-hand-cream-mango-and-orange-flower-990308182" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$10"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="9">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2006702-UNL-GB-155-Mary-Kay-Hand-Cream-Soldier-Mandarin-Rose.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Hand Cream Mandarin & Rose"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-hand-cream-mandarin-and-rose-990308181" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$10"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="10">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2006702-UNL-GB-159-Mary-Kay-Hand-Cream-Soldier-Wildberry-Passion-Flower.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Hand Cream Wild Berry & Passionflower"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-hand-cream-wild-berry-and-passionflower-990307548" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$10"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="11">
  <img src="//pimg.us.marykaycdn.com/HeroList/10001/mary-kay-after-sun-replenishing-gel-0220.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay Sun Care After-Sun Replenishing Gel"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/special-edition-mary-kay-sun-care-aftersun-replenishing-gel-160401" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$15"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="12">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2008922-SPRING-DM-ES-PDP-60th-Anni-Skinvig-1-26-23-en.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"60th Anniversary Special! Skinvigorate Sonic Skin Care System"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/60th-anniversary-special-skinvigorate-sonic-skin-care-system-990310175" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$60"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="13">
  <img src="//pimg.us.marykaycdn.com/HeroList/10003/PIM-J2003169-UNL-GB-0409-LE-MARY-KAY-2-STEP-HYDRATING-SHEET-MASK.png" class="card-img-top fpi" alt="product img">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay 2-Step Hydrating Sheet Mask, pk/8"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mary-kay-2-step-hydrating-sheet-mask-990291714" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$40"</a>
  </div>
</div>
</div>